.header {
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  transition: all 0.5s ease 0s;
}

.header-logo {
  overflow: hidden;
  padding-left: 40px;
  float: left;
  line-height: 64px;
  text-decoration: none;
  height: 64px;
  img {
    display: inline;
    vertical-align: middle;
    margin-right: 16px;
  }
  b {
    color: #fff;
    outline: none;
    font-size: 14px;
    line-height: 28px;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 200px;
  }
}

.header-meta {
  padding-right: 40px;
}

.menu {
  float: right;
  overflow: hidden;
  height: 64px;
  .ant-menu {
    line-height: 60px;
    background-color: transparent;
    color: #fff;
  }
  .ant-menu-horizontal {
    border-bottom: none;
    & > .ant-menu-item {
      border-top: 2px solid transparent;
      &:hover {
        color: #fff;
        border-top: 2px solid #fff;
        border-bottom: 2px solid transparent;
      }
    }
    & > .ant-menu-item-selected {
      border-top: 2px solid #fff;
      border-bottom: 2px solid transparent;
      color: #fff;
      font-weight: 900;
    }
  }
  .ant-menu-inline li {
    .ant-menu-item-selected {
      border-top: 2px solid #fff;
      border-bottom: 2px solid transparent;
      color: #fff !important;
      font-weight: 900;
    }
  }
}

.popover-menu {
  float: right;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 1;
  width: 16px;
  height: 22px;
}
